#header {
	color: rgb(230, 0, 0);
}

nav {
	text-align: center;
	color: black;
	height: 4em;
}

#calc_contain {
	margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 200px;
    text-align: center;
    background-color: rgb(230, 0, 0);
    width: 17em;
    padding-top: 2em;
    padding-bottom: 2em;

}

#answer_box {
	pointer-events:none;
	margin-bottom: .6em;
	padding-top: .5em;
	padding-left: .7em;
	padding-right: .7em;
	text-align: right;
	font-size: 1em;
}

.button {

	margin-top: .4em;
	margin-bottom: .4em;
	margin-right: .2em;
	margin-left: .2em;
	padding: 0em;
	background-color: black;
	color: white;
	width: 3em;
	height: 2em;
	font-size: 1em;
	text-align: center;
	border-style: groove;
	border-color: white;
}

.button:active {
  background-color: red;
  box-shadow: none;

  transform: translateY(.3em);
}

.button:focus { 
	outline: 0;

}

#eq {
	width: 6.6em;
}

footer {
	text-align: center;
		
}
