#header {
	color: rgb(230, 0, 0);
	overflow: hidden;
	text-align: center;
}


nav {
	text-align: center;
	color: black;
	height: 4em;
}

#calc_contain {
	margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2em;
    text-align: center;
    background-color: rgb(230, 0, 0);
    width: 24em;
    height: 36.5em;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#answer_box {
	pointer-events:none;
	margin-bottom: .6em;
	padding-top: 0.5em;
	padding-left: 0.65em;
	padding-right: 0.7em;
	text-align: right;
	font-size: 1.5em;
	position: relative;
	width: 13em;
	height: 2.2em;
}

.button {
	margin-top: .4em;
	margin-bottom: .4em;
	margin-right: .2em;
	margin-left: .2em;
	padding: 0em;
	background-color: black;
	color: white;
	font-size: 1em;
	text-align: center;
	border-style: groove;
	border-color: white;
	height: 4.5em;
	width: 4em;
	font-size: 1.1em;
}

.button:active {
  background-color: red;
  box-shadow: none;

  transform: translateY(.3em);
}

.button:focus { 
	outline: 0;
}

#eq {
	width: 8.3em;
}

footer {
	overflow: hidden;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;	
}
